.*
!/.dockerignore
!/.env  # Если у вас есть .env файл, который вы хотите включить в образ

**/__pycache__
**/*.pyc
**/*.pyo
backend/.venv
neural/.venv

frontend/node_modules
frontend/yarn.lock
frontend/package-lock.json

**/dist
**/build
**/.cache
**/.expo

backend/static/input
backend/static/output

*.log
*.tmp

Dockerfile
docker-compose.yml

.vscode/
.idea/
__MACOSX/
